:root {
  /* === Typography === */
  --typography-display-large-font-size: 4rem;
  --typography-display-large-text-decoration: none;
  --typography-display-large-font-family: var(--font-poppins);
  --typography-display-large-font-weight: 600;
  --typography-display-large-font-style: normal;
  --typography-display-large-font-stretch: normal;
  --typography-display-large-letter-spacing: -0.04rem;
  --typography-display-large-line-height: 4.8rem;
  --typography-display-large-paragraph-indent: 0px;
  --typography-display-large-paragraph-spacing: 0px;
  --typography-display-large-text-case: none;
  --typography-display-medium-font-size: 3.375rem;
  --typography-display-medium-text-decoration: none;
  --typography-display-medium-font-family: var(--font-poppins);
  --typography-display-medium-font-weight: 500;
  --typography-display-medium-font-style: normal;
  --typography-display-medium-font-stretch: normal;
  --typography-display-medium-letter-spacing: -0.03375rem;
  --typography-display-medium-line-height: 4.05rem;
  --typography-display-medium-paragraph-indent: 0px;
  --typography-display-medium-paragraph-spacing: 0px;
  --typography-display-medium-text-case: none;
  --typography-display-small-font-size: 2.5rem;
  --typography-display-small-text-decoration: none;
  --typography-display-small-font-family: var(--font-poppins);
  --typography-display-small-font-weight: 500;
  --typography-display-small-font-style: normal;
  --typography-display-small-font-stretch: normal;
  --typography-display-small-letter-spacing: -0.025rem;
  --typography-display-small-line-height: 3rem;
  --typography-display-small-paragraph-indent: 0px;
  --typography-display-small-paragraph-spacing: 0px;
  --typography-display-small-text-case: none;
  --typography-headline-large-font-size: 3rem;
  --typography-headline-large-text-decoration: none;
  --typography-headline-large-font-family: var(--font-poppins);
  --typography-headline-large-font-weight: 600;
  --typography-headline-large-font-style: normal;
  --typography-headline-large-font-stretch: normal;
  --typography-headline-large-letter-spacing: -0.03rem;
  --typography-headline-large-line-height: 3.6rem;
  --typography-headline-large-paragraph-indent: 0px;
  --typography-headline-large-paragraph-spacing: 0px;
  --typography-headline-large-text-case: none;
  --typography-headline-medium-font-size: 2.5rem;
  --typography-headline-medium-text-decoration: none;
  --typography-headline-medium-font-family: var(--font-poppins);
  --typography-headline-medium-font-weight: 500;
  --typography-headline-medium-font-style: normal;
  --typography-headline-medium-font-stretch: normal;
  --typography-headline-medium-letter-spacing: -0.025rem;
  --typography-headline-medium-line-height: 3rem;
  --typography-headline-medium-paragraph-indent: 0px;
  --typography-headline-medium-paragraph-spacing: 0px;
  --typography-headline-medium-text-case: none;
  --typography-headline-small-font-size: 2rem;
  --typography-headline-small-text-decoration: none;
  --typography-headline-small-font-family: var(--font-poppins);
  --typography-headline-small-font-weight: 500;
  --typography-headline-small-font-style: normal;
  --typography-headline-small-font-stretch: normal;
  --typography-headline-small-letter-spacing: -0.02rem;
  --typography-headline-small-line-height: 2.4rem;
  --typography-headline-small-paragraph-indent: 0px;
  --typography-headline-small-paragraph-spacing: 0px;
  --typography-headline-small-text-case: none;
  --typography-title-large-font-size: 1.5rem;
  --typography-title-large-text-decoration: none;
  --typography-title-large-font-family: var(--font-poppins);
  --typography-title-large-font-weight: 400;
  --typography-title-large-font-style: normal;
  --typography-title-large-font-stretch: normal;
  --typography-title-large-letter-spacing: -0.015rem;
  --typography-title-large-line-height: 1.2;
  --typography-title-large-paragraph-indent: 0px;
  --typography-title-large-paragraph-spacing: 0px;
  --typography-title-large-text-case: none;
  --typography-title-medium-font-size: 1.25rem;
  --typography-title-medium-text-decoration: none;
  --typography-title-medium-font-family: var(--font-poppins);
  --typography-title-medium-font-weight: 400;
  --typography-title-medium-font-style: normal;
  --typography-title-medium-font-stretch: normal;
  --typography-title-medium-letter-spacing: -0.0125rem;
  --typography-title-medium-line-height: 1.2;
  --typography-title-medium-paragraph-indent: 0px;
  --typography-title-medium-paragraph-spacing: 0px;
  --typography-title-medium-text-case: none;
  --typography-label-small-font-size: 0.625rem;
  --typography-label-small-text-decoration: none;
  --typography-label-small-font-family: var(--font-poppins);
  --typography-label-small-font-weight: 400;
  --typography-label-small-font-style: normal;
  --typography-label-small-font-stretch: normal;
  --typography-label-small-letter-spacing: -0.00625rem;
  --typography-label-small-line-height: 1.5;
  --typography-label-small-paragraph-indent: 0px;
  --typography-label-small-paragraph-spacing: 0px;
  --typography-label-small-text-case: none;
  --typography-body-medium-font-size: 1rem;
  --typography-body-medium-text-decoration: none;
  --typography-body-medium-font-family: var(--font-poppins);
  --typography-body-medium-font-weight: 400;
  --typography-body-medium-font-style: normal;
  --typography-body-medium-font-stretch: normal;
  --typography-body-medium-letter-spacing: -0.01rem;
  --typography-body-medium-line-height: 1.5;
  --typography-body-medium-paragraph-indent: 0px;
  --typography-body-medium-paragraph-spacing: 0px;
  --typography-body-medium-text-case: none;

  /* === Color Roles (Light) === */
    --color-primary: hsl(142, 82%, 52%);
  --color-on-primary: hsl(142, 80%, 10%);
  --color-primary-container: hsl(142, 50%, 90%);
  --color-on-primary-container: hsl(142, 80%, 15%);
  --color-secondary: hsl(153, 26%, 32%);
  --color-on-secondary: hsl(0, 0%, 100%);
  --color-secondary-container: hsl(150, 33%, 73%);
  --color-on-secondary-container: hsl(155, 37%, 23%);
  --color-tertiary: hsl(152, 19%, 33%);
  --color-on-tertiary: hsl(0, 0%, 100%);
  --color-tertiary-container: hsl(148, 27%, 74%);
  --color-on-tertiary-container: hsl(154, 26%, 24%);
  --color-error: hsl(4, 57%, 42%);
  --color-on-error: hsl(0, 0%, 100%);
  --color-error-container: hsl(6, 78%, 78%);
  --color-on-error-container: hsl(2, 63%, 31%);
  --color-background: hsl(0, 0%, 99%);
  --color-on-background: hsl(0, 0%, 11%);
  --color-surface: hsl(0, 0%, 99%);
  --color-on-surface: hsl(0, 0%, 11%);
  --color-surface-variant: hsl(0, 0%, 89%);
  --color-on-surface-variant: hsl(0, 0%, 28%);
  --color-outline: hsl(0, 0%, 47%);
  --color-outline-variant: hsl(0, 0%, 78%);
  --color-inverse-surface: hsl(0, 0%, 19%);
  --color-inverse-on-surface: hsl(0, 0%, 95%);
  --color-inverse-primary: hsl(142, 60%, 40%);
  --color-surface-dim: hsl(0, 0%, 85%);
  --color-surface-bright: hsl(0, 0%, 99%);
  --color-surface-container-lowest: hsl(0, 0%, 100%);
  --color-surface-container-low: hsl(0, 0%, 97%);
  --color-surface-container: hsl(0, 0%, 93%);
  --color-surface-container-high: hsl(0, 0%, 91%);
  --color-surface-container-highest: hsl(0, 0%, 95%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* === Color Roles (Dark) === */
  --color-primary: hsl(142, 82%, 52%);
    --color-on-primary: hsl(142, 80%, 10%);
    --color-primary-container: hsl(142, 50%, 90%);
    --color-on-primary-container: hsl(142, 80%, 15%);
    --color-secondary: hsl(150, 33%, 73%);
    --color-on-secondary: hsl(160, 72%, 13%);
    --color-secondary-container: hsl(155, 37%, 23%);
    --color-on-secondary-container: hsl(149, 57%, 84%);
    --color-tertiary: hsl(148, 27%, 74%);
    --color-on-tertiary: hsl(156, 42%, 15%);
    --color-tertiary-container: hsl(154, 26%, 24%);
    --color-on-tertiary-container: hsl(148, 48%, 85%);
    --color-error: hsl(6, 78%, 78%);
    --color-on-error: hsl(0, 73%, 22%);
    --color-error-container: hsl(2, 63%, 31%);
    --color-on-error-container: hsl(8, 88%, 90%);
    --color-background: hsl(0, 0%, 6%);
    --color-on-background: hsl(0, 0%, 89%);
    --color-surface: hsl(0, 0%, 6%);
    --color-on-surface: hsl(0, 0%, 89%);
    --color-surface-variant: hsl(0, 0%, 28%);
    --color-on-surface-variant: hsl(0, 0%, 78%);
    --color-outline: hsl(0, 0%, 57%);
    --color-outline-variant: hsl(0, 0%, 28%);
    --color-inverse-surface: hsl(0, 0%, 89%);
    --color-inverse-on-surface: hsl(0, 0%, 19%);
    --color-inverse-primary: hsl(142, 60%, 70%);
    --color-surface-dim: hsl(0, 0%, 6%);
    --color-surface-bright: hsl(0, 0%, 24%);
    --color-surface-container-lowest: hsl(0, 0%, 4%);
    --color-surface-container-low: hsl(0, 0%, 11%);
    --color-surface-container: hsl(0, 0%, 12%);
    --color-surface-container-high: hsl(0, 0%, 17%);
    --color-surface-container-highest: hsl(0, 0%, 22%);
  }
}
